.tudo{
    height: 100%;
}

.image-tudo{
    height: 100%;

}

.meio{
    background-image: url(https://bestanimations.com/media/birthday/1935361197cute-happy-birthday-gif-husky-dog-animated.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: 100%;
    display: flex;
    height: 90%;
    position: static;
    width: 100%;
    justify-content: center;
    align-items: center;

    
}

.footer{
    display: flex;
    position: static;
    background-color: #2c2a2a;
    height: 5%;
}
.header{
    display: flex;
    position: static;
    background-color: #2c2a2a;
    height: 5%;
}
body{
    background-image: url(https://files.123freevectors.com/wp-content/original/161662-pink-background-texture.jpg);
    height: 100%;
    width: 100%;
    margin: 0px;
}

html{
    height: 100%;
    width: 100%;
}

.texto{
    height: 10%;
    width: 10%;
    justify-content: center;
    display: flex;
    text-align: center;
    position: absolute;
    align-items: center;

   
    
    
}

.texto-bonito{
    justify-content: center;
    align-items: center;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 8vw;
    -webkit-text-stroke: 0.5vw #0cbbf0;
    
    
    color: rgb(246, 248, 248);
    text-decoration: none;
}

.music{
  display: none;
}

.imagem-cachorro{
    display: flex;
    height: 50%;
    width: 100%;
    top: 100px;
    display: none;
}

.meio-1{
    display: flex;
    height: 90%;
    justify-content: center;
    align-items: center;
}
.cachorro{
    display: flex;
    height: 40vw;
    opacity: 30%;
    width: 100%;
}

.texto-bonito-2{
    position: absolute;
    justify-items: center;

    font-family: "Bungee", sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 10vw;
    -webkit-text-stroke: 0.5vw #dd00a6c9;
    
    
    color: rgb(246, 248, 248);
    text-decoration: none;
    z-index: 2;
}

@media (max-width: 600px){
    .meio-1{
        display: flex;
        flex-direction: column;
    }
    .cachorro{
        width: 100%;
        height: fit-content;
    }
    .chapeu{
        width: 100%;
        height: 50%;
    }
    .chupeta{
        height: 50%;
        width: 100%;
    }
}